/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: 'Zen Loop';
  src: url('../font/ZenLoop-Regular.woff2') format('woff2'),
      url('../font/ZenLoop-Regular.woff') format('woff');
}
:root {
  /* Mode 1 */
  /* colors */
  --verde-claro: #b3e7b1;
  --verde-flojo: #c1ecc2;
  --verde-fuerte: #3abb47;
  --verde-intermedio: #a1e19f;
  --verde-original: #a1e19f;
  --verde-oscuro: #73d373;
}

html{
  font-family: "Zen Loop";
  width: 100vw;
  height: 100vh;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--verde-flojo);

}

/*Header*/
.cabecera{
  display: flex;
  height: 15vh;
  padding: 0px 90px 20px 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bienvenida{
  font-size: 2.5em;
  color: var(--verde-fuerte);
}

/*Main*/
.cuerpo{
  display: flex;
  padding: 0px 30px 0px 30px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.inicio{
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--verde-claro);
  border: 0;
  font-size: 2em;
  color: var(--verde-fuerte);

  transition: box-shadow 0.3s ease-in-out;
}
.inicio:hover{
  box-shadow: 0 0 10px var(--verde-oscuro);
  cursor: pointer;
}
.barra_progreso{
  display: flex;
  height: 10px;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
}
.seg{
  color: var(--verde-fuerte);
  font-size: 1.5em;
}
.intrucciones{
  color: var(--VerdeFuerte, #3ABB47);
  text-align: center;
  font-size: 2.5em;
}