/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: 'Zen Loop';
  src: url('../font/ZenLoop-Regular.woff2') format('woff2'),
      url('../font/ZenLoop-Regular.woff') format('woff');
}
:root {
  /* Mode 1 */
  /* colors */
  --verde-claro: #b3e7b1;
  --verde-flojo: #c1ecc2;
  --verde-fuerte: #3abb47;
  --verde-intermedio: #a1e19f;
  --verde-original: #a1e19f;
  --verde-oscuro: #73d373;
}

html{
  font-family: "Zen Loop";
}
